<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS6.dao.CommonDAO">

	<select id="getMemberIdSearch" resultType="com.spring.javaGroupS6.vo.MemberVO">
		select * from customer where mid = #{mid};
	</select>
	
	<select id="getPartnerIdSearch" resultType="com.spring.javaGroupS6.vo.PartnerVO">
		select * from partner where mid = #{mid};
	</select>
	
	<select id="getPartnerSearch" resultType="com.spring.javaGroupS6.vo.PartnerVO">
		select * from partner where company = #{company};
	</select>
	
	<select id="getMemberEmailSearch" resultType="com.spring.javaGroupS6.vo.MemberVO">
		select * from customer where email = #{email} limit 1;
	</select>
	
	
	<insert id="setMemberJoin">
	  INSERT INTO customer 
	  (idx, mid, pwd, name, gender, birthday, tel, address, email, photo, level, userInfo, userDel, pwdChange, point, startDate, lastDate)
	  VALUES
	  (default, #{vo.mid}, #{vo.pwd}, #{vo.name}, #{vo.gender}, #{vo.resident}, #{vo.tel}, #{vo.address}, #{vo.email}, #{vo.photo}, #{vo.level}, #{vo.userInfo}, default, #{vo.pwdChange}, default, default, default);
	</insert>
	
	<insert id="setpartnerJoin">
	  INSERT INTO partner VALUES (default, #{vo.logo}, #{vo.mid}, #{vo.pwd}, #{vo.company}, #{vo.ceoName}, #{vo.businessNumber}, #{vo.email}, #{vo.tel}, #{vo.address}, #{vo.level}, default, default, default);
	</insert>
	
	<update id="setMemberUpdate">
		update customer set pwd = #{vo.pwd} where idx = #{vo.idx};
	</update>
	
	<update id="setLastDateUpdate">
		update ${table} set lastDate = #{today} where mid = #{mid};
	</update>
	
</mapper>