<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS6.dao.MemberDAO">

	<select id="getMyCoupon" resultType="com.spring.javaGroupS6.vo.CouponVO">
		select * from coupon where mid = #{mid} and status = 'active' and curdate() between startDate and endDate;
	</select>
	
	<update id="setMemberUpdate">
		update customer set name = #{vo.name}, gender = #{vo.gender}, birthday = #{vo.birthday}, tel = #{vo.tel}, address = #{vo.address}, email = #{vo.email}, photo = #{vo.photo} where mid = #{vo.mid};
	</update>
	
	<update id="setUserLeave">
		update customer set userDel = 'YES', level = 99 where mid = #{mid};
	</update>
	
	<update id="setPwdChange">
		update customer set pwd = #{pwd}, pwdChange = 'yes' where mid = #{mid};
	</update>
	
	<update id="setPointUpdate">
		update customer set point = point + #{addPoint}, point = point - #{usePoint} where mid = #{mid};
	</update>


	
</mapper>