<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS6.dao.PageDAO">

	<select id="getTotRecCnt" resultType="int">
		select count(*) from ${type}
		<if test='user == "partner"'>
			where claim = 'NO'
			and mid = #{condition}
		</if>
		<if test='user == "admin" and condition == "YES" and type =="customer"'>where userDel = 'YES'</if>
		<if test='user == "admin" and condition == "NO" and type =="partner"'>where accept = 'NO'</if>
		<if test='user == "adminAccept" and condition == "NO" and type =="shop"'>where accept = 'NO'</if>
	  <if test='user == "adminClaim" and condition == "YES" and type =="shop"'>where claim = 'YES'</if>
	  <if test='user == "adminAdjustment" and type =="shopOrder"'>where adjustment != 'NO' order by adjustment</if>
	  <if test='user == "partnerClaimPost" and type =="shop"'>where mid = #{condition} and claim = 'YES'</if>
	  <if test='user == "adminCoupon" and type =="coupon"'>order by createDate DESC</if>
		;
	</select>
	
   <select id="List" resultType="map">
	   select * from ${type} 
	   <if test='user == "partner"'>
	   	where claim = 'NO'
	   	and mid = #{condition}
	   </if>
	   <if test='user == "admin" and condition == "YES" and type =="customer"'>where userDel = 'YES'</if>
	   <if test='user == "admin" and condition == "NO" and type =="partner"'>where accept = 'NO'</if>
	   <if test='user == "adminAccept" and condition == "NO" and type =="shop"'>where accept = 'NO'</if>
	   <if test='user == "adminClaim" and condition == "YES" and type =="shop"'>where claim = 'YES'</if>
	   <if test='user == "partnerClaimPost" and type =="shop"'>where mid = #{condition} and claim = 'YES'</if>
	   <if test='user == "adminAdjustment" and type =="shopOrder"'>where adjustment != 'NO' order by adjustment</if>
	   <if test='user == "adminCoupon" and type =="coupon"'>order by createDate DESC</if>
	   limit #{startIndexNo}, #{pageSize};
   </select>
</mapper>