<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaGroupS6.dao.ShopDAO">
	
	<select id="getShopList" resultType="com.spring.javaGroupS6.vo.ShopVO">
		select s.*, avg(sr.star) as star, count(sr.idx) as reviewCnt 
		from shop s left join shopReview sr on s.idx = sr.shopIdx
		where s.${column} = #{category}
		<if test='accept == "yes"'>and s.accept = '승인' </if> 
		<if test='accept == "no"'>and s.accept = 'NO' </if>
		<if test='company != "all" and company != ""'>and s.company = #{company}</if> 
		group by s.idx
		order by s.${column};
	</select>

	<select id="getSubCateCnt" resultType="int">
		select COUNT(*) as count from shop where mainCategory = #{mainCategory} and accept = '승인'  group by subCategory order by mainCategory;
	</select>

	<select id="getBrandCateCnt" resultType="int">
		select COUNT(*) as count from shop where subCategory = #{subCategory} and accept = '승인'  group by company order by company;
	</select>

	<select id="getShopContent" resultType="com.spring.javaGroupS6.vo.ShopVO">
		select * from shop where idx = #{idx};
	</select>

	<select id="getList" resultType="com.spring.javaGroupS6.vo.CategoryVO">
		select * from category order by category;
	</select>

	<select id="getPostCount" resultType="int">
		select count(*) from shop where mid = #{mid};
	</select>

	<select id="getMainCategoryList" resultType="com.spring.javaGroupS6.vo.MainCategoryVO">
		select * from mainCategory where category = #{category} order by category;
	</select>

	<select id="getSubCategoryList" resultType="com.spring.javaGroupS6.vo.SubCategoryVO">
		select * from subCategory where mainCategory = #{mainCategory} order by mainCategory;
	</select>

	<select id="getReviewAverage" resultType="Double">
		select ifnull(avg(star), 0.0) from shopReview where shopIdx = #{idx};
	</select>

	<select id="getReview" resultType="com.spring.javaGroupS6.vo.ShopReviewVO">
		select sr.*, c.name as customerName from shopReview sr, customer c where sr.shopIdx = #{idx} 
		<if test='user != "admin"'>and sr.claim = "NO"</if>
		<if test='user == "admin"'>and sr.claim = "YES"</if>
		 and sr.mid = c.mid order by sr.reviewDate;
	</select>
	
	<select id="getReviewLikeInfo" resultType="com.spring.javaGroupS6.vo.ReviewLikesVO">
		select * from reviewLikes where reviewIdx = #{idx} and customer = #{mid} limit 1;
	</select>

	<select id="getMyLikes" resultType="int">
		select reviewIdx from reviewLikes where shopIdx = #{idx} and customer = #{mid};
	</select>

	<select id="getMyReview" resultType="com.spring.javaGroupS6.vo.ShopReviewVO">
		select * from shopReview where idx = #{idx};
	</select>
	
	<select id="getMyCartSearch" resultType="com.spring.javaGroupS6.vo.ShopCartVO">
		select * from shopCart where shopIdx = #{shopIdx} and mid = #{mid} and optionSelect = #{optionSelect};
	</select>
	
	<select id="getMyCart" resultType="com.spring.javaGroupS6.vo.ShopCartVO">
		select sc.*, s.company from shopCart sc left join shop s on sc.shopidx = s.idx where sc.mid = #{mid} order by idx;
	</select>
	
	<select id="getIdxCart" resultType="com.spring.javaGroupS6.vo.ShopOrderVO">
		select sc.*, s.discount, s.price from shopCart sc, shop s where sc.idx = #{idx} and s.idx = sc.shopIdx;
	</select>
	
	<select id="getOneOrder" resultType="com.spring.javaGroupS6.vo.ShopOrderVO">
		select * from shop where idx = #{idx};
	</select>
	
	<select id="getCouponInfo" resultType="com.spring.javaGroupS6.vo.CouponVO">
		select * from coupon where idx = #{idx};
	</select>
	
	<insert id="shopInput">
		insert into shop values (default, #{vo.mid}, #{vo.company}, #{vo.category}, #{vo.mainCategory}, #{vo.subCategory}, #{vo.title}, #{vo.discount}, #{vo.price}, #{vo.option}, #{vo.thumbnail}, #{vo.titleImg}, #{vo.content}, #{vo.fSize}, default, default, default);
	</insert>
	
	<insert id="setReviewInput">
		insert into shopReview values(default, #{idx}, #{mid}, #{vo.content}, #{vo.star}, default, default, default);
	</insert>
	
	<insert id="setReviewGoodInput">
		insert into reviewLikes values(default, #{idx}, #{reviewIdx}, #{mid});
	</insert>
	
	<insert id="setCartInput">
		insert into shopCart values(default, #{vo.mid}, #{vo.shopIdx}, #{vo.thumbnail}, #{vo.shopTitle}, #{vo.optionSelect}, #{vo.quantity}, #{vo.totalPrice}, default);
	</insert>
	
	<insert id="setShopOrder">
		insert into shopOrder values(default, #{vo.shopIdx}, #{vo.mid}, #{vo.shopTitle}, #{vo.price}, #{vo.quantity}, #{vo.discount}, #{vo.couponIdx}, #{vo.coupon}, #{vo.couponDiscount}, #{vo.pay}, #{vo.totalPrice}, #{vo.usePoint}, #{vo.addPoint}, #{vo.thumbnail}, #{vo.optionSelect}, default);
	</insert>
	
	<update id="setShopUpdate">
		update shop set company = #{vo.company}, category = #{vo.category}, mainCategory = #{vo.mainCategory}, subCategory = #{vo.subCategory}, title = #{vo.title}, discount = #{vo.discount}, price = #{vo.price}, optionName = #{vo.optionName}, optionPrice = #{vo.optionPrice}, thumbnail = #{vo.thumbnail}, titleImg = #{vo.titleImg}, content = #{vo.content}, fSize = #{vo.fSize}, wDate = now(), accept = 'NO' where idx = #{vo.idx};
	</update>
	
	<update id="setPointUp">
		update customer set point = point + #{point} where mid = #{mid};
	</update>
	
	<update id="setReviewGoodCheck">
		update shopReview set good = good + 1 where idx = #{idx};
	</update>
	
	<update id="setReviewClaim">
		update shopReview set claim = 'YES' where idx = #{idx};
	</update>
	
	<update id="setReviewUpdate">
		update shopReview set content = #{vo.content}, star = #{vo.star}, reviewDate = now() where idx = #{vo.idx};
	</update>
	
	<update id="setCartQuantityUpdate">
		update shopCart set quantity = quantity + #{quantity}, totalPrice = #{totalPrice} where idx = #{idx};
	</update>
	
	<update id="setUseCoupon">
		update coupon set status = 'used', useDate = now() where idx = #{vo.couponIdx};
	</update>
	
	<delete id="setShopDelete">
		delete from shop where idx = #{idx};
	</delete>
	
	<delete id="setReviewDelete">
		delete from shopReview where idx = #{idx};
	</delete>
	
	<delete id="setCartDelete">
		delete from shopCart where idx = #{idx};
	</delete>
	
	<delete id="setCartDeleteAll">
		delete from shopCart where idx = #{cartIdx};
	</delete>
	
</mapper>